@def contentColor #fff;

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #555;
	font: normal normal normal 0.75em/normal 'Lucida Grande', sans-serif;
	text-align: center;
	background-color: #575757; /*rgb( 250, 143, 8);*/
	margin: 0;
	padding: 0;
	overflow-y: auto;
	height: 100%;
}

.applicationMainPanel {
	margin: 0 auto;
	padding-top: 0;
	text-align: left;
	width: 800px;
	position: relative;
	min-height: 100%;
}

.applicationHeaderPanel {
	background-color: contentColor;
	padding: 20px;
	padding-top: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/*box-shadow: 0px 0px 5px #fff;*/
	height: 140px;
}

.applicationTitle {
	color: #555;
	line-height: 36px;
	float: left;
	font-size: 31px;
	font-weight: bold;
	margin: 20px 0px;
	text-decoration: none;
}

.applicationTitle:hover {
	text-decoration: underline;
	color: rgb(250, 143, 8);
	cursor: pointer;
}

.left {
	float: left;
}

.right {
	float: right;
}

.applicationSubTitle {
	font-size: 16px;
	color: #888;
	font-weight: bold;
	line-height: 41px;
	margin: 20px;
}

.applicationContentContainer {
	padding-bottom: 120px;
  	padding-top: 30px;
}

.applicationContent {
  	padding: 20px;
  	background-color: #fff;
  	border-radius: 5px;
}

.applicationFooter {
	position: absolute;
	height: 92px;
	width: 800px;
	bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*box-shadow: 0px 0px 5px #fff;*/
	background-color: contentColor;
}

.applicationInnerFooter {
	margin: 10px 20px;
	text-align: right;
}

button {
	padding: 5px;
	margin: 10px;
}

.labelledValueFieldLabel {
	display: inline-block;
	width: 85px;
	vertical-align: top;
	line-height: 30px;
}

.labelledValueFieldValue {
	margin-left: 10px;
	display: inline-block;
}

.labelledValueContainer {
	margin-bottom: 10px;
}