@def BACKGROUND_COLOR #DADADA;
@def CONTENT_COLOR #F7F7F7;
@def FONT_COLOR #555;
@def FONT_SUB_COLOR #888;
@def ACCENT_COLOR #999;
@def LINK_COLOR #FA8F08;

html {
  color: #333;
  font: normal normal normal 0.75em/normal FreeMono, Consolas, 'Courier New', 'Roboto', 'Lucida Grande';
}
body {
  background-color: BACKGROUND_COLOR;
}

h1,h2,h3,h4,h5,h6 {
  color: #555;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.4em;
}

.applicationMainPanel {
  width: 800px;
}

.applicationHeaderPanel {
  background-color: CONTENT_COLOR;
  padding: 0px 20px;
}

.applicationProgressContainer {
  height: 4px;
  background-color: CONTENT_COLOR;
}

.alignRight {
  text-align: right;
}

.applicationContent {
  padding: 0px 20px 20px 20px;
  margin: 20px 0px;
  background-color: CONTENT_COLOR;
}

.applicationFooterPanel {
  background-color: CONTENT_COLOR;
  padding: 0px 20px 0px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: LINK_COLOR;
  text-decoration: underline;
}

.labelledValueFieldLabel {
  min-width: 165px;
}

.labelledValueFieldValue {
  margin-left: 10px;
  overflow: auto;
}

.labelledValueContainer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.flex>* {
  min-width: 0;
  min-height: 0;
}

.columns {
  flex-direction: column;
}

.justify {
  flex-justify: justify-content;
}

.alignCenter {
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.panel {
  flex-direction: column;
}